
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Parallax Section-->
<section class="parallax-section" style="background-image:url(../Content/images/parallax/image-2.jpg);">
    <div class="auto-container">
        <div class="text-center wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
            <h2>YOU ARE <strong>IN LOVE</strong> WITH SRIRASTU WEDDING AND WANT TO <strong>STAND OUT</strong></h2>
            <div class="line mt-15"></div>
            <a class="theme-btn default-btn" href="/Home/ContactUs">REACH OUT TO US</a>
            <a class="theme-btn normal-btn" href="/Home/RSPVForm">BUY WEDDING NOW</a>
        </div>
    </div>
</section>



<!--Event Section-->
<section class="parallax-section overflow-hidden parallax" style="background-image:url(../Content/images/background/3.jpg);">
    <div class="container p-0">
        <!--Section Title-->
        
        <div class="row clearfix">
            <!--Column-->
            <div class="col-xs-12 col-sm-12 col-md-4 wow slideInLeft text-center" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="event-item">
                    <div class="event-thumb">
                        <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/event.jpg")' alt="">
                    </div>
                    <div class="event-details bg-white p-20">
                        <h2 class="text-thm pb-5">The Venue For Wedding</h2>
                        <div class="event-day text-dark font-16 pb-5 font-weight-300">
                            <i class="fa fa-calendar text-thm"></i><span class="pl-5 pr-10">Friday, May 21, 2017</span>
                            <i class="fa fa-clock-o text-thm"></i><span class="pl-5">2:30 PM - 5:30 PM</span>
                        </div>
                        <address class="text-dark font-16 mb-10">
                            <i class="fa fa-home text-thm"></i><span class="location pl-5">Kukatpally</span>
                            <i class="fa fa-map-marker text-thm"></i><span class="pl-5">Street no:3 ,lane 3 </span>
                        </address>
                        <p class="text-black ">Please join with us and give us ur beatiful blessing</p>
                        
                    </div>
                </div>
            </div>
            <!--Column-->
            <div class="col-xs-12 col-sm-12 col-md-4 wow slideInUp text-center p-sm-20" data-wow-delay="0ms" data-wow-duration="1200ms">
                <div class="event-item">
                    <div class="event-thumb">
                        <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/registy.jpg")' alt="">
                    </div>
                    <div class="event-details bg-white p-20">
                        <h2 class="text-thm pb-5">BirthDay</h2>
                        <div class="event-day text-dark font-16 pb-5 font-weight-300">
                            <i class="fa fa-calendar text-thm"></i><span class="pl-5 pr-10">Saturday, Aug 21, 2017</span>
                            <i class="fa fa-clock-o text-thm"></i><span class="pl-5">11:30 AM - 2:30 PM</span>
                        </div>
                        <address class="text-dark font-16 mb-10">
                            <i class="fa fa-home text-thm"></i><span class="location pl-5">Shaikpet</span>
                            <i class="fa fa-map-marker text-thm"></i><span class="pl-5">Near D mart lane 4 </span>
                        </address>
                        <p class="text-black ">
                            Sending you smiles for every moment of your special day…Have a wonderful time and a very happy birthday
                        </p> 
                    </div>
                </div>
            </div>
            <!--Column-->
            <div class="col-xs-12 col-sm-12 col-md-4 wow slideInRight text-center p-sm-20" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="event-item">
                    <div class="event-thumb">
                        <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/accomod.jpg")' alt="">
                    </div>
                    <div class="event-details bg-white p-20">
                        <h2 class="text-thm pb-5">Accommodations</h2>
                        <div class="event-day text-dark font-16 pb-5 font-weight-300">
                            <i class="fa fa-calendar text-thm"></i><span class="pl-5 pr-10">Thursay, sep 21, 2016</span>
                            <i class="fa fa-clock-o text-thm"></i><span class="pl-5">4:30 PM - 8:00 PM</span>
                        </div>
                        <address class="text-dark font-16 mb-10">
                            <i class="fa fa-home text-thm"></i><span class="location pl-5">Gachibowli</span>
                            <i class="fa fa-map-marker text-thm"></i><span class="pl-5">Trident near cyber gates  </span>
                        </address>
                        <p class="text-black ">
                            
                            offering you a wonder full day from srirastu wherever you go in Telangana
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
