
@{
    ViewBag.Title = "DetailedEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Section: Doctor Details -->
<section id="doctor-section" class="doctor-details get-quote">
    <div class="container pt-60">
        <div class="row">
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="font-sacramento text-thm">Deataild Services </h1>

                        <div class="mb-30 mt-15"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="product-details-tab-title row">
                    <div class="col-lg-12">
                        <ul>
                            <li data-tab-name="Wedding" class="active"><span>Wedding</span></li>
                            <li data-tab-name="Engagement"><span>Engagement</span></li>
                            <li data-tab-name="HouseWarming"><span>House Warming</span></li>
                            <li data-tab-name="Upanayanam"><span>Upanayanam</span></li>
                            <li data-tab-name="BirthDay"><span>BirthDay</span></li>
                            <li data-tab-name="Anniversary"><span>Anniversary</span></li>
                        </ul>
                    </div>
                </div>
                <div class="product-details-tab-content row">
                    <div class="col-lg-12" id="Wedding">
                        <dl class="dl-horizontal doctor-info">
                            <dt>Marriage</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>
                                        Electronic Decoration and DJ sound system
                                    </li>
                                    <li>Entertainment</li>
                                    <li>
                                        Transportation (Local and National)
                                    </li>
                                    <li>Beautician</li>
                                    <li>Sangeet Program </li>
                                    <li>
                                        Reception
                                    </li>
                                    <li>Photography and video graphy</li>
                                </ul>
                            </dd>

                            <dt>Event Invitation</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>BirthDay Invitation</li>
                                    <li>Wedding Invitation</li>
                                    <li>Upanyanam Invitation</li>
                                    <li>Digital Invitation</li>
                                    <li>House Warming Invitation</li>

                                </ul>
                            </dd>

                            <dt>Bharat Event</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>Baggi</li>
                                    <li>Bijili Team</li>
                                </ul>
                            </dd>



                        </dl>
                    </div>
                    <div class="col-lg-12" id="Engagement">
                        <dl class="dl-horizontal doctor-info">
                            <dt>Engagement </dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">
                                        Function Halls/Banquest Halls/Garden Halls/Open Stage
                                    </li>
                                    <li>
                                        Catering/Cooking/Serving
                                    </li>
                                    <li>
                                        Makeup

                                    </li>
                                    <li>
                                        Photography

                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-12" id="HouseWarming">

                        <dl class="dl-horizontal doctor-info">
                            <dt>House Warming</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">Sound & lighting</li>
                                    <li>Return gifts</li>

                                    <li>
                                        Photographer
                                    </li>
                                    <li>
                                        Invitation with DTP Work 
                                    </li>

                                    <li>
                                        Tent House
                                    </li>

                                </ul>
                            </dd>

                        </dl>


                    </div>
                    <div class="col-lg-12" id="Upanayanam">
                        <dl class="dl-horizontal doctor-info">
                            <dt> Upanayanam </dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">
                                        Function Halls/Temple

                                    </li>

                                    <li>
                                       Pooja and Purohit package
                                    </li>
                                    <li>
                                        Photography and video graphy
                                    </li>

                                </ul>
                            </dd>

                            <dt>Sannai Band</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">Band Team</li>
                                    <li>DJ Raod Generator </li>
                                </ul>
                            </dd>

                           
                        </dl>
                    </div>
                    <div class="col-lg-12" id="BirthDay">


                        <dl class="dl-horizontal doctor-info">
                            <dt>Birth Day</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>Digital Invitation </li>
                                    <li>Anchoring+ Magician </li>
                                    <li>
                                        Function Halls/Banquest Halls/Garden Halls/Open Stage
                                    </li>
                                    <li>Catering/Cooking/Serving</li>

                                </ul>
                            </dd>
                           
                        </dl>

                    </div>
                    <div class="col-lg-12" id="Anniversary">
                        <dl class="dl-horizontal doctor-info">
                            <dt>Anniversary</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>
                                        Electronic Decoration and DJ sound system
                                    </li>
                                    <li>Entertainment</li>
                                    <li>
                                        Transportation (Local and National)
                                    </li>
                                    <li>Beautician</li>
                                    <li>Sangeet Program </li>
                                    <li>
                                        Reception
                                    </li>
                                    <li>Photography and video graphy</li>
                                </ul>
                            </dd>

                            <dt>Event Invitation</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>BirthDay Invitation</li>
                                    <li>Wedding Invitation</li>
                                    <li>Upanyanam Invitation</li>
                                    <li>Digital Invitation</li>
                                    <li>House Warming Invitation</li>

                                </ul>
                            </dd>


                        </dl>

                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>


</section>




