
@{
    ViewBag.Title = "DetailedServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Section: Doctor Details -->
<section id="doctor-section" class="doctor-details get-quote">
    <div class="container pt-60">
        <div class="row">
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="font-sacramento text-thm">Deataild Services </h1>

                        <div class="mb-30 mt-15"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="product-details-tab-title row">
                    <div class="col-lg-12">
                        <ul>
                            <li data-tab-name="StageDecoration" class="active"><span>Stage Decoration</span></li>
                            <li data-tab-name="Catering"><span>Catering</span></li>
                            <li data-tab-name="FunctionHall"><span> Function Hall</span></li>
                            <li data-tab-name="Entertainment"><span>Entertainment</span></li>
                            <li data-tab-name="Photography"><span>Photography & Video</span></li>
                            <li data-tab-name="Beatician"><span>Beatician</span></li>
                        </ul>
                    </div>
                </div>
                <div class="product-details-tab-content row">
                    <div class="col-lg-12" id="StageDecoration">
                        <dl class="dl-horizontal doctor-info">
                            <dt>Stage Decoration</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>Stage Decoration By Land Scaping by Experienced Stage Designers</li>
                                    <li>Electronic Decoration By Land Scaping by Experienced Stage Designers</li>
                                </ul>
                            </dd>

                            <dt>DJ</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">Experienced DJ</li>
                                    <li>Sound Sets  </li>

                                </ul>
                            </dd>

                        </dl>
                    </div>
                    <div class="col-lg-12" id="Catering">
                        <dl class="dl-horizontal doctor-info">
                            <dt>Catering </dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">Food Service (like India & Advanced)</li>
                                    <li>Food Service By Resturent </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-lg-12" id="FunctionHall">

                        <dl class="dl-horizontal doctor-info">
                            <dt>Function Halls</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">Sound & lighting</li>
                                    <li>Stage Decoration</li>

                                    <li>Stage Designers</li>
                                    <li>Land Scaping + White Tent</li>

                                    <li>
                                        Tent House
                                    </li>

                                </ul>
                            </dd>

                        </dl>


                    </div>
                    <div class="col-lg-12" id="Entertainment">
                        <dl class="dl-horizontal doctor-info">
                            <dt> Archestra/Anchoring</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">
                                        Tradistional pop sigers

                                    </li>

                                    <li>Instrumental Team</li>
                                    <li>Event Anchore</li>

                                </ul>
                            </dd>

                            <dt>Sannai Band</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">Band Team</li>
                                    <li>DJ Raod Generator </li>
                                </ul>
                            </dd>

                            <dt>Bharat Event</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>Baggi</li>
                                    <li>Bijili Team</li>
                                </ul>
                            </dd>

                        </dl>
                    </div>
                    <div class="col-lg-12" id="Photography">


                        <dl class="dl-horizontal doctor-info">
                            <dt>Photography</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>Hight reselution Photography  </li>

                                </ul>
                            </dd>
                            <dt>Video</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>Natural Videos with Visual Effects </li>

                                </ul>
                            </dd>
                        </dl>

                    </div>
                    <div class="col-lg-12" id="Beatician">
                        <dl class="dl-horizontal doctor-info">
                            <dt>Beatician</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">
                                        Bridal Makeup
                                    </li>

                                    <li>Family Pack</li>
                                    <li>Ornament Service</li>
                                    <li>Mehindi</li>

                                </ul>
                            </dd>

                            <dt>BridGroom</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li class="mt-0">Makeup</li>
                                    <li>Family Pack</li>
                                    <li>Mehindi</li>
                                </ul>
                            </dd>

                            <dt>Event Invitation</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>BirthDay Invitation</li>
                                    <li>Wedding Invitation</li>
                                    <li>Upanyanam Invitation</li>
                                    <li>Digital Invitation</li>
                                    <li>House Warming Invitation</li>

                                </ul>
                            </dd>
                            <dt>Tranportation</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>Bus</li>
                                    <li>Car</li>

                                </ul>
                            </dd>
                            <dt>Hanymoon</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>PickUp & Drop Transportation </li>
                                    <li>Ticket Booking for Destination</li>

                                </ul>
                            </dd>

                            <dt>Reception</dt>
                            <dd>
                                <ul class="list asterisk m-0">
                                    <li>According to the function hall </li>
                                    <li>PickUp & Drop Transportation </li>

                                </ul>
                            </dd>

                        </dl>

                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </div>


</section>


