
@{
    ViewBag.Title = "_FooterPartial";
}


<!--Main Footer-->
<footer class="main-footer">

    <!--Footer Upper-->
    <div class="footer-upper">
        <!--Go Up Button-->
        <div class="go-up">
            <div class="curve scroll-to-target" data-target="#main-header"><span class="icon fa fa-arrow-up"></span></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget about-widget">
                        <h2>About Srirastu</h2>
                        <div class="text">
                            <p>Phasellus at quam tristique, cursus tellus vitae, convallis neque. Sed a lacinia sapien. Etiam dignissim sit amet felis ac sagittis. Sed libero arcu, pharetra et ante in elementum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget links">
                        <h2>Useful Links For Events</h2>
                        <ul>
                            <li><a href="/Events/Wedding">Wedding Event</a></li>
                            <li><a href="/Events/Engagement">Engagement</a></li>
                            <li><a href="/Events/HouseWarming">House Warming Event</a></li>
                            <li><a href="/Events/Upanayanam ">Upanayanam </a></li>
                            <li><a href="/Events/HalfSaree">Half Saree Event</a></li>
                            <li><a href="/Events/BirthDay">Birthday party Event</a></li>
                            <li><a href="/Events/Anniversary">Anniversary Event</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 column">
                    <div class="footer-widget links">
                        <h2>Useful Links For Services</h2>
                        
                            <ul>
                                <li><a href="/Services/Decoration">Stage Decoration</a></li>
                                <li><a href="/Services/Catering">Catering</a></li>

                                <li><a href="/Services/Venues">Function Halls</a></li>
                                <li><a href="/Services/Entertainment">Entertainment</a></li>
                                <li><a href="/Services/Photography">Photography and Video</a></li>
                                <li><a href="/Services/Beautician">Beautician</a></li>
                            </ul>
                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 column">

                    <div class="footer-widget links">
                        <h2>Useful Links For Events</h2>
                        
                            <ul>
                                <li><div class="info-title"><span class="fa fa-phone"></span> Call Us Anytime</div><p class="info">(+064)-342-68372</p></li>
                                <li><div class="info-title"><span class="fa fa-clock-o"></span> Opening Hours</div><p class="info">8:00 am - 6:00 pm</p></li>
                                <li><div class="info-title"><span class="fa fa-at"></span> Email Us At</div><p class="info"><a href="mailto:info@srirastu.com">info@srirastu.com</a></p></li>
                            </ul>
                       
                    </div>

                </div>

            </div>
            
        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <!--Copyright-->
            <div class="copyright">
                <p>
                    &copy; @DateTime.Now.Year - Srirastu WEDDING  Event And Planner. Designed with &ensp;<span class="fa fa-heart"></span>&ensp; by Planet Cloud.
                </p>
            </div>
            <div class="social-links">
                <a href="#" class="icon fa fa-facebook-f"></a>
                <a href="#" class="icon fa fa-twitter"></a>
                <a href="#" class="icon fa fa-pinterest"></a>
                <a href="#" class="icon fa fa-youtube-play"></a>
                <a href="#" class="icon fa fa-envelope"></a>
            </div>
        </div>
    </div>

</footer>


